[submodule "aptible/managed_endpoint"]
	path = aptible/managed_endpoint
	url = git@github.com:codeforamerica/tofu-modules-aptible-managed-endpoint.git
[submodule "aws/backend"]
	path = aws/backend
	url = git@github.com:codeforamerica/tofu-modules-aws-backend.git
[submodule "aws/logging"]
	path = aws/logging
	url = git@github.com:codeforamerica/tofu-modules-aws-logging.git
[submodule "aws/cloudfront_waf"]
	path = aws/cloudfront_waf
	url = git@github.com:codeforamerica/tofu-modules-aws-cloudfront-waf.git
[submodule "aws/secrets"]
	path = aws/secrets
	url = git@github.com:codeforamerica/tofu-modules-aws-secrets.git
[submodule "datadog/waf"]
	path = datadog/waf
	url = git@github.com:codeforamerica/tofu-modules-datadog-waf.git
[submodule "aws/fargate_service"]
	path = aws/fargate_service
	url = git@github.com:codeforamerica/tofu-modules-aws-fargate-service.git
[submodule "aws/serverless_database"]
	path = aws/serverless_database
	url = git@github.com:codeforamerica/tofu-modules-aws-serverless-database.git
