Version: '2012-10-17'
Statement:
  - Effect: Allow
    Action:
      - secretsmanager:GetSecretValue
      - kms:Decrypt
      - ssm:GetParameter
      - ssm:GetParameters
    Resource:
      %{~ for key, value in secrets ~}
      - "${value.secret_arn}"
      %{~ endfor ~}
